{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <h3>Mon panier</h3>

    {% for item in cart %}
        h3>{{ item.product.title }}</h3>
    {% endfor %}

{% endblock %}
