{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h3 class="text-decoration-underline mb-5"> Our Products </h3>

        <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                        <img src="{{ product.attachment }}" class="card-img-top" alt="Image du produit">
                        <div class="card-body">
                            <p class="card-title mt-2 ">{{ product.title }}</p>
                            <p class="fw-bolder ">{{ product.price }} XOF</p>
                        </div>
                    </div>
                {% endfor %}
        </div>



    </div>

{% endblock %}
